<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- This line needs to be changed for each different case with different vector maps -->
    <arg name="vector_map_file" default="/home/carma/catkin_ws_carma_DATA_split/carma_load/maps/12.21.2021.xodr.osm" />

<!--     <arg name="vector_map_file" default="/home/carma/catkin_ws_carma_DATA_split/carma_load/maps/20211118_seg1.osm" /> -->

<!--     <arg name="vector_map_file" default="/home/carma/catkin_ws_carma_DATA_split/carma_load/maps/20211118_seg2.osm" /> -->

<!--     <arg name="vector_map_file" default="/home/carma/catkin_ws_carma_DATA_split/carma_load/maps/20211118_seg3.osm" /> -->



    <!-- Launch detection_node -->
    <node name="detection_node" pkg="tracking_lib" type="tracking_lib_detection_node" output="screen">
        <remap from="/kitti/points_raw" to="/points_raw" />
        <!-- <remap from="/kitti/points_raw" to="/points_raw" /> -->
        
        <rosparam command="load" file="$(find tracking_lib)/config/detection_TRC.yaml"/>
        <rosparam command="load" file="$(find tracking_lib)/config/kitti/Segmenter_TRC.yaml"/>
    </node>

    <!-- Launch tracking_node -->
    <node name="tracking_node" pkg="tracking_lib" type="tracking_lib_tracking_node" output="screen">
        <rosparam command="load" file="$(find tracking_lib)/config/tracking_TRC.yaml"/>
        <rosparam command="load" file="$(find tracking_lib)/config/kitti/TrackingWorker_TRC.yaml"/>
    </node>


    <!-- Launch rviz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tracking_lib)/rviz/demo_TRC.rviz"/>








    <!-- map loading -->
    <!-- vector map loader -->
    <node pkg="map_file" type="lanelet2_map_loader" name="lanelet2_map_loader"  args="$(arg vector_map_file)" output="screen">
        <remap from="/lanelet_map_bin" to="semantic_map"/>
    </node> 

    <!-- map param/tf loader -->
    <include file="$(find map_file)/launch/map_param_loader.launch">
        <arg name="file_name" value="$(arg vector_map_file)"/>
    </include>

        <!-- vector map visualization -->
    <node pkg="map_file" type="lanelet2_map_visualization" name="lanelet2_map_visualization" output="screen" >
        <remap from="/lanelet_map_bin" to="semantic_map"/>
    </node>

      <!-- tf publication -->
    <group>
        <remap from="georeference" to="map_param_loader/georeference"/>
        <include file="$(find tf_publisher)/launch/tf_publisher.launch">
        </include>
    </group>



</launch>
