<?xml version='1.0'?>
<launch>
    <arg name="r11" default="-0.059"/>
    <arg name="r12" default="1.000"/>
    <arg name="r13" default="-0.059"/>
    <arg name="r21" default="-1.002"/>
    <arg name="r22" default="-0.058"/>
    <arg name="r23" default="0.022"/>
    <arg name="r31" default="0.018"/>
    <arg name="r32" default="0.060"/>
    <arg name="r33" default="1.002"/>

    <node pkg="ros_transform_utils" type="tf2pry.py" name="tf2pry" output="screen">
        <param name="r11" type="double" value="$(arg r11)"/>
        <param name="r12" type="double" value="$(arg r12)"/>
        <param name="r13" type="double" value="$(arg r13)"/>
        <param name="r21" type="double" value="$(arg r21)"/>
        <param name="r22" type="double" value="$(arg r22)"/>
        <param name="r23" type="double" value="$(arg r23)"/>
        <param name="r31" type="double" value="$(arg r31)"/>
        <param name="r32" type="double" value="$(arg r32)"/>
        <param name="r33" type="double" value="$(arg r33)"/>
    </node>

</launch>
