[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -ci 'roslaunch rslidar_sdk start.launch --screen'
Name=Infra LiDAR
Comment=Infra LiDAR
Icon=/home/mobility/ros_ws/Fast_ros_launch/icons/lidar.png
