[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -ci 'roslaunch swarm_ros_bridge infra_se.launch --screen'
Name=Swarm ROS
Comment=Swarm ROS
Icon=/home/mobility/ros_ws/Fast_ros_launch/icons/connection.svg
