<?xml version="1.0"?>
<!--
roslaunch autoware_camera_lidar_calibrator camera_lidar_calibration.launch intrinsics_file:=/home/ne0/Desktop/calib_heat_camera1_rear_center_fisheye.yaml compressed_stream:=True camera_id:=camera1
-->
<launch>

    <arg name="intrinsics_file" default="/media/zhaoliang/Extreme SSD/rosbag/calibration/rosbag_zzl_car/21-23-calib/changed/left_solvePnPRansac_autoware_lidar_camera_calibration.yaml" />
    <arg name="target_frame" default="newrslidar_repub"/>
    <arg name="camera_frame" default="zed2i_l_left_camera_optical_frame"/>
    <arg name="camera_id" default="/" />

    <node pkg="calibration_publisher" type="calibration_publisher" name="calibration_publisher" ns="$(arg camera_id)" output="screen">
        <param name="register_lidar2camera_tf" type="bool" value="true"/>
        <param name="publish_extrinsic_mat" type="bool" value="true"/>
        <param name="publish_camera_info" type="bool" value="true"/>
        <param name="image_topic_src" value="/zed2i_l/zed_node_l/left/image_rect_color"/>   
        <param name="calibration_file" value="$(arg intrinsics_file)"/>
        <param name="target_frame" type="str" value="$(arg target_frame)"/>
        <param name="camera_frame" type="str" value="$(arg camera_frame)"/>
    </node>

    <node pkg="pcd_republisher" type="pcd_republisher" name="pcd_republisher" output="screen">
        <param name="image_raw_topic_str" type="str" value="/zed2i_l/zed_node_l/left/image_rect_color"/>
        <param name="point_cloud_topic_name_str" type="str" value="/new/rslidar_points"/>
        <param name="point_cloud_output_topic_name_str" type="str" value="/newrslidar_repub"/>
        <param name="lidar_new_frame_id_str" type="str" value="newrslidar_repub"/>
    </node>

    <node pkg="rviz" type="rviz" name="cross_check_rviz" args="-d  /home/zhaoliang/zzl/zhz03_github/smart_intersection/code/ros_code/lidar_cam_ws/src/lidar_camera_calibrator/calibration_publisher/rviz/cross_check.rviz">
        
    </node>



</launch>
