[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -ci 'roslaunch data_project new_detection_tracking_1_debug.launch --screen'
Name=Detection Tracking
Comment=Detection Tracking
Icon=/home/dev/ros_ws/CooperFuse_Git_new/Fast_ros_launch/icons/launch_track.svg
